<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Good Dog</title>
    <link rel="stylesheet" href="./assets/style.css">
    <link rel="stylesheet" href="/connections.js">
    <link rel="stylesheet" href="./assets/dog-profile.css">
    <!-- Jquery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Plotly.js CDN -->
    <script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>

</head>

<body>
	{{{ body }}}
     <script src="./assets/script.js"></script>
</body>

</html>