<!-- <!DOCTYPE html>
<html lang="en"> -->

<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Profile</title>
    <link rel="stylesheet" href="./assets/dog-profile.css">
    Jquery CDN
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    Plotly.js CDN
    <script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>

    &#128062; <--- Dog Paw emoji
</head> -->

<!-- <body>
    <header>
        <h1>
            <a href="/"> GOOD DOG</a>
        </h1>
        <nav>
            <ul>
                <li>
                    <a href="#profile">Profile</a>
                </li>
                <li>
                    <a href="#progress">Progress</a>
                </li>
                <li>
                    <a href="#reference">Reference</a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="jumbotron">

        <div id="jumbo-cta">
            <h2>No two dogs are exactly the same.</h2>
            <p>We want to get to know <span>your dog</span> to make a training program that's right for
                <span>them</span>. We'll
                help you keep track of their progress towards your goals. </p>
        </div>

    </section>

    <section id="profile" class="mainSection">
        <h2 class="section-title">Your Dogs Profile</h2>
        <div id="profileColumns">
            <div id="like_button_container"></div>
            <p id="dog owner">Chubb</p>
            <h3 id="dog name">Spot</h3>
            <p id="dog age">12</p>
            <p id="dog breed">Pitbull</p>
            <p id="dog sex">Male</p>
            <p id="dog spayed/neutered">Yes</p>
        </div>
    </section>

    <script src=".//assets/script.js"></script>

    

     

     

</body> -->

<!-- </html> -->