<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog traing application name TBD</title>
</head>

<body>
    <header>
        <h1>Dog traing application name TBD</h1>
    </header>

    <section class="container">
        <h2>Dogs information</h2>
        <h3>What is your dogs name?</h3>
        <input name="dogsName" type="text" placeholder="Dogs Name" class="form-control">
    </section>

    <section class="container">
        <h3>What breed is your dog?</h3>
        <select name="dogsBreed" id="dogsBreed" type="text" placeholder="Dogs Breed" class="form-control">
            
            <option value="shepherd">Shepherd</option>
            <option value="bulldog">Bulldog</option>
            <option value="coonhound">Coonhound</option>
            <option value="pitbull">Pitbull</option>
        </select>
            <br><br>
            <input type="submit" value="Submit">
        


        <h3>Don't know what your dogs breed is?</h3>
        <a href="https://youtu.be/HlhVtw6K4k8">Please visit this youtube video to find your dogs breed</a>
    </section>
</body>

</html>